.DS_Store
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
*.pyc

data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
reports/tables/*
!reports/tables/.gitkeep
